<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>viewControllerName</key>
		<string>ZShareViewController</string>
		<key>title</key>
		<string>分享</string>
		<key>detail</key>
		<string>测试分享</string>
	</dict>
	<dict>
		<key>viewControllerName</key>
		<string>ZAnimationTestViewController</string>
		<key>title</key>
		<string>切换动画</string>
		<key>detail</key>
		<string>测试动画效果</string>
	</dict>
	<dict>
		<key>viewControllerName</key>
		<string>ZAttrStringViewController</string>
		<key>title</key>
		<string>富文本</string>
		<key>detail</key>
		<string>富文本测试</string>
	</dict>
	<dict>
		<key>viewControllerName</key>
		<string>ZBasicTestViewController</string>
		<key>title</key>
		<string>load initialize</string>
		<key>detail</key>
		<string>load initialize 测试</string>
	</dict>
	<dict>
		<key>viewControllerName</key>
		<string>ZShapeLayerViewController</string>
		<key>title</key>
		<string>BezierPath&amp;ShapaLayer</string>
		<key>detail</key>
		<string>BezierPath&amp;ShapaLayer</string>
	</dict>
    <dict>
        <key>viewControllerName</key>
        <string>ZHitTestViewController</string>
        <key>title</key>
        <string>ZHitTestViewController</string>
        <key>detail</key>
        <string>ZHitTestViewController</string>
    </dict>
</array>
</plist>
